<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :kind %>
    <%= form.text_field :kind %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
    <%= form.label :ie %>
    <%= form.text_field :ie %>
  </div>

  <div class="field">
    <%= form.label :cnpj %>
    <%= form.text_field :cnpj %>
  </div>

  <div class="field">
    <%= form.label :rg %>
    <%= form.text_field :rg %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :tel1 %>
    <%= form.text_field :tel1 %>
  </div>

  <div class="field">
    <%= form.label :tel2 %>
    <%= form.text_field :tel2 %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :address_number %>
    <%= form.text_field :address_number %>
  </div>

  <div class="field">
    <%= form.label :address_complement %>
    <%= form.text_field :address_complement %>
  </div>

  <div class="field">
    <%= form.label :address_bairro %>
    <%= form.text_field :address_bairro %>
  </div>

  <div class="field">
    <%= form.label :address_zip %>
    <%= form.text_field :address_zip %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :cities_id %>
    <%= form.text_field :cities_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
