<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @person.kind %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @person.company_name %>
</p>

<p>
  <strong>Ie:</strong>
  <%= @person.ie %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @person.cnpj %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @person.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @person.cpf %>
</p>

<p>
  <strong>Tel1:</strong>
  <%= @person.tel1 %>
</p>

<p>
  <strong>Tel2:</strong>
  <%= @person.tel2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>

<p>
  <strong>Address number:</strong>
  <%= @person.address_number %>
</p>

<p>
  <strong>Address complement:</strong>
  <%= @person.address_complement %>
</p>

<p>
  <strong>Address bairro:</strong>
  <%= @person.address_bairro %>
</p>

<p>
  <strong>Address zip:</strong>
  <%= @person.address_zip %>
</p>

<p>
  <strong>Status:</strong>
  <%= @person.status %>
</p>

<p>
  <strong>Cities:</strong>
  <%= @person.cities %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
