<p id="notice"><%= notice %></p>

<h1>Maintenances</h1>

<table>
  <thead>
    <tr>
      <th>Entrance date</th>
      <th>Exit date</th>
      <th>Current km</th>
      <th>Description</th>
      <th>Mo value</th>
      <th>Parts value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maintenances.each do |maintenance| %>
      <tr>
        <td><%= maintenance.entrance_date %></td>
        <td><%= maintenance.exit_date %></td>
        <td><%= maintenance.current_km %></td>
        <td><%= maintenance.description %></td>
        <td><%= maintenance.mo_value %></td>
        <td><%= maintenance.parts_value %></td>
        <td><%= link_to 'Show', maintenance %></td>
        <td><%= link_to 'Edit', edit_maintenance_path(maintenance) %></td>
        <td><%= link_to 'Destroy', maintenance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maintenance', new_maintenance_path %>
