<p id="notice"><%= notice %></p>

<p>
  <strong>Entrance date:</strong>
  <%= @maintenance.entrance_date %>
</p>

<p>
  <strong>Exit date:</strong>
  <%= @maintenance.exit_date %>
</p>

<p>
  <strong>Current km:</strong>
  <%= @maintenance.current_km %>
</p>

<p>
  <strong>Description:</strong>
  <%= @maintenance.description %>
</p>

<p>
  <strong>Mo value:</strong>
  <%= @maintenance.mo_value %>
</p>

<p>
  <strong>Parts value:</strong>
  <%= @maintenance.parts_value %>
</p>

<%= link_to 'Edit', edit_maintenance_path(@maintenance) %> |
<%= link_to 'Back', maintenances_path %>
